table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}



.button-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically (if necessary) */
  margin-top: 20px; /* Adds spacing above the button */
}
